<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>
      CONCIENCIA LÉXICA 
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
       <!--<img src="r.jpg" />-->  <h2> <b>EJERCICIO 2 DE 4   </b> </h2>
       <p class="tex" >
        Qué quedaría si quitamos la 3º palabra
        de la oración: “Mis amigos vienen hoy a
        casa por la tarde” 
      </ion-col>
      <ion-col>
        <ion-badge *ngFor="let fallo of fallos">{{fallo}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="palabra" id="palabra-adivinada-por-ahora" >{{palabraAdivinadaPorAhora}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="bt"> 

     
      <ion-col class="botones">
      <ion-button ion-button round outline
                (click)="botonClicked1()" >Mis amigos vienen a casa por la tarde</ion-button>

     <ion-button ion-button round outline
                (click)="botonClicked2()">Mis amigos hoy a casa por la tarde"</ion-button>
      </ion-col>
    </ion-row>





  </ion-grid>
<!--<div class="arrow"></div>-->


 
</ion-content>
