<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-button class="btn1" color="primary" expand="block" routerLink="/ejercicio1">Conciencia Silábica</ion-button>
<ion-button class="btn2" color="primary" expand="block" routerLink="/ejerciciof1">Conciencia fonética</ion-button>
<ion-button class="btn3" color="primary" expand="block" routerLink="/ejerciciol1">Conciencia léxica</ion-button>




</ion-content>
