<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="sss" >
  <img src="../../assets/logo1.png" alt="">
</div>

  <div class="ss" >
    <br> <br> <br>
  <h2>Gana para ser el mejor
    Mejora tus destrezas
    Supera las dificultades
    No te confundas mas</h2>
  </div>
<div class="botonhelp">
  <!-- <ion-button  class="bt" color="primary" routerLink="/help">?</ion-button> -->
    <a title="Los Tejos" class="iconn" routerLink="/help"><img src="../../assets/p1.png" alt="" /></a>
  </div>
</ion-content>
