ion-content ion-toolbar {
  --background: translucent;


}
.botonhelp{
  margin-top: 20%;
  margin-left: 70%;
  

}

.ss{
  text-align: center;
  text-align: justify;
  padding: 5%;
}

.sss{
  text-align: center;
}